@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import "./defaults.css";
@import "./navbar.css";
@import "./home.css";
@import "./products.css";
@import "./contacts.css";
@import "./footer.css";

/* Variables */
:root {
  --primary: #dac404;
  --primaryHover: #dac50480;
}

.main .products-section,
.main .contacts-section,
.main .footer-section {
  display: none;
}
